* {
	margin: 0px;
}

body {
	background-color: #000000;
	margin: 0; 
	overflow: hidden;
}

canvas { width: 100%; height: 100% }

.billboard {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	text-transform: uppercase;
}

.billboard .info {
	color: #00FFFF;
}